@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 1.5em;
    margin: 0 1.5em;
    box-shadow: black 10px 11px 0px 0px;
}

.bottomspace {
    margin-bottom: 1.25em;
}

.blog-illustration {
    width: 100%;
    border-radius: 16px;
}

.tag {
    background-color:hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 0.5em;
    font-weight: 800;
    display: inline-block;
}

.date {
    font-weight: 600;
    font-size: smaller;
}

.blog-preview {
    margin: 1.25em 0;
}

.blog-preview h1 {
        font-weight: 800;
        margin-bottom: 1em;
}

.blog-preview p {
    color: hsl(0, 0%, 50%);
}

.author {
    display: flex;
    gap: 0.8em;
}
.author img {
    border-radius: 50%;
    width: 10%;
}
.author p {
    font-weight: 800;
    align-self: center;
}